@font-face {
    font-family: 'HelveticaRegular';
    font-size: 130px;
    src: url('./helvetica/HelveticaNeue.ttf') format('truetype');
}

@font-face {
    font-family: IBMRegular;
    font-size: 17px;
    src: url('./IBM_Plex_Mono/IBMPlexMono-Regular.ttf');
}
